
public class Info {
	private double tuition;
	private String name;
	private int students;
	private double gpa;
	private double acceptenceRate;
	private int actScore
	
	public Info (){
	}
		public static void main(String[] args) {
			
	}

}
